*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-box{
  background-color:#1f2937 ;
  color: white;
  height: 50px;
  display: flex;
  justify-content:space-around;
  align-items: center;
 
}

.header-left{
font-weight: 900;
border: 1px solid rgb(141, 139, 137);
border-radius: 2px
}


.header-right{
display: flex;
gap: 20px;;
}

/* header end */

.hero-box{
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
  height: 300px;
}

.hero-left{
  color: white;
  width: 30vh;
  padding-top: 50px;
}

.hero-right{
padding-top: 35px;

}

.hero-img{
  width: 45vh;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid white;
}

.button-1{
  background-color: aquamarine;
  height: 20px;
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
}

/* hero end */



h1{
  text-align: center;
  padding-bottom: 20px
}

.box-main{
 margin-top: 20px;
 /* border: 1px solid red; */
 height: 50vh;

}
.box-0{
  display: flex;
  gap: 5px;
  justify-content:center;
  /* border: 2px solid black; */
  height: 40vh;
  align-items: center;
  
}

.box-es{
/* border: 1px solid rgb(178, 218, 0); */
 width: 30vw; 
}

.image-1{
  /* height: 40vh;
  width: 45vh; */
  /* height: 15vh;
  width: 20vw; */

  width: 22vw;
  margin-left: 20px;
  border-radius: 10px;
}

.pera-1{
  text-align: center;
  text-decoration: underline;
}

/*   */

.main-2{
  /* border: 3px solid blue; */
  background-color:#c9c9c9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  margin: 5px 0;

}

.main-2-box {
  /* border: 1px solid purple; */
  width: 40vw;
  
}

.thor{
  /* border: 1px solid rgb(4, 6, 1); */
  text-align: end;
  font-weight: bold;
}

/* main2 end */

.vox{
  /* border: 1px solid rgb(240, 61, 7); */
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  
}

.vox-2 {
  /* border: 2px solid green; */
  height: 20vh;
  width: 50vw;
  background-color: #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  border-radius: 5px;
}

.button-2{
  border: 1px solid white;  
  width: 5vw;
  color: white;
  background-color: #3882f6;
  border-radius: 4px;
}

.pera-vox1{
  color: white;
  font-weight: bolder;
}
.pera-vox2{
  color: rgb(204, 211, 211);
}

/* vox end  */

footer{
  /* border: 2px solid blueviolet; */
  height: 25vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;display: flex;
  
}
.footer-box{
  /* border: 1px solid salmon; */
  gap:10px;
  width: 15vw;
}

.right-footer{
  display: flex;
  align-items: end;
  width: 8vh;
  /* border: 1px solid white; */
  margin-left: 171px;
  padding-left: 12px;
}





